<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mackeys</string>
	<key>connections</key>
	<dict>
		<key>3D0366FF-40F5-4C82-A055-68FF36DA2E0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF8D9CFE-91DE-464B-B9DD-FE6215927E98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>18BC18A5-09D0-482C-8750-4FDCC576009A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harry Birch</string>
	<key>description</key>
	<string>Substitution of Mac keyboard characters for image</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mackeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>mackeys</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving output...</string>
				<key>script</key>
				<string>php mackeys.php "$(./normalise -form NFC "{query}")"</string>
				<key>subtext</key>
				<string>Mackeys "{query}"</string>
				<key>title</key>
				<string>Mackeys</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3D0366FF-40F5-4C82-A055-68FF36DA2E0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AF8D9CFE-91DE-464B-B9DD-FE6215927E98</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F3E8512F-7241-4B54-B99B-44EF18542719</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>18BC18A5-09D0-482C-8750-4FDCC576009A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18BC18A5-09D0-482C-8750-4FDCC576009A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3D0366FF-40F5-4C82-A055-68FF36DA2E0F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AF8D9CFE-91DE-464B-B9DD-FE6215927E98</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F3E8512F-7241-4B54-B99B-44EF18542719</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>harrybirch.co.uk</string>
</dict>
</plist>
